<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>才学APP - {$current_menu.name|default=''}</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="/static/hplus/img/favicon.png">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <style>
        .table th, .table td {
            text-align: center;
        }
        #page-wrapper {
            padding: 0 15px;
            position: inherit;
            margin: 0 0 0 60px;
        }

    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
<div >
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$current_menu.name|default="编辑文章信息"}</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <form method="post" class="form-horizontal" id="newsForm">
                        <input type="hidden" name="id" value="{present name='id'}{$id}{/present}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文章名称</label>
                            <div class="col-sm-7">
                                <input type="text" name="title" placeholder="填写文章名称" class="form-control" required value="{present name='info'}{$info.title}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类</label>
                            <div class="col-sm-7">
                                <select name="cat_id" class="ftype form-control">
                                    {foreach name="catelist" item="item"}
                                    <option value="{$item.id}" {present name="info"}{eq name="$info.cat_id" value="$item.id"}selected{/eq}{/present}>{$item.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        {present name="info"}
                        {notempty name="info.imgurl"}
                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">当前图片</label>
                            <div class="col-sm-8">
                                <img src="{$info.imgurl}" width="150" id="yimgurl"/>
                            </div>
                        </div>
                        {/notempty}
                        {/present}
                        <input type="hidden" name="imgurl"  class="form-control" value='{present name="info"}{$info.imgurl}{/present}'  id="imgurl">
                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control" name="logo" id="logo" data-index="0" onchange ="uploadImg(this)" accept="image/*">
                            </div>
                            <div class="col-sm-1"  style="color:red">
                                <span >建议尺寸:750*755</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容：</label>
                            <div class="col-sm-8">
                                <textarea id="container" name="content">{present name="info"}{$info.content}{/present}</textarea>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="save">保存内容</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__UEDITOR__/ueditor.config.js?v=1111"></script>
<script src="__UEDITOR__/ueditor.all.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="/static/hplus/js/plugins/layer/layer.js"></script>

<script>
    $(function () {
        $("input[type='file']").prettyFile();
        var ue = UE.getEditor('container', {
            toolbars: [
                [
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    'removeformat', //清除格式
                    'time', //时间
                    'date', //日期
                    'fontfamily', //字体
                    'fontsize', //字号
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'imagecenter', //居中
                    'lineheight', //行间距
                ]
            ],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });

        ue.ready(function(){
            ue.execCommand('lineheight', 2); //行间距
            ue.execCommand('fontsize', '18px'); //字号
        });

        $("#newsForm").submit(function() {
            $.ajax({
                url: "{:\\think\\Url::build('Knowledge/addKnow')}",
                data: $(this).serialize(),
                dataType: "json",
                type: "post",
                success: function(data){
                    if (data.code === 1) {
                        layer.msg(data.msg, {icon: 1, time: 1500});
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        window.location.href = "/tutor/knowledge/article";
                        
                    } else {
                        layer.msg(data.msg, {icon: 2, shift: 6});
                    }
                }
            });
            return false;
        });
    });

    function uploadImg(obj) {
        $.ajaxfileupload({
            url : "/index/upload/uploadHeadImg",
            secureuri : false,// 一般设置为false
            fileElementId : "logo",// 文件上传表单的id <input type="file" id="fileUpload" name="file" />
            dataType : 'json',// 返回值类型 一般设置为json
            data: {},
            success : function(data){  // 服务器成功响应处理函数
                if(data.code == 0){
                    $('#imgurl').val(data.data)
                    $('#yimgurl').attr('src',data.data)
                    layer.msg(data.msg, {icon: 1, time: 1500});
                }
            }
        });
        return false;
    }
</script>
</body>
</html>