<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>才学APP - {$current_menu.name|default=''}</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="/static/hplus/img/favicon.png">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <style>
        .table th, .table td {
            text-align: center;
        }
        #page-wrapper {
            padding: 0 15px;
            position: inherit;
            margin: 0 0 0 60px;
        }

    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
<div >
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$current_menu.name|default="编辑课程信息"}</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <form method="post" class="form-horizontal" id="newsForm">
                        <input type="hidden" name="id" value="{present name='id'}{$id}{/present}">
                        <input type="hidden" name="advanced_id" id="advanced_id"  value="{present name='advanced_id'}{$advanced_id}{/present}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" placeholder="填写标题" class="form-control" required value="{present name='info'}{$info.name}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">摘要</label>
                            <div class="col-sm-7">
                                <input type="text" name="abstract" placeholder="摘要" class="form-control" required value="{present name='info'}{$info.abstract}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        {present name="info"}
                        {notempty name="info.imgurl"}
                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-8">
                                <img src="{$info.imgurl}" width="150"  id="nowimgurl"/>
                            </div>
                        </div>
                        {/notempty}
                        {/present}

                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control" name="logo" id="logo" data-index="0"  onchange ="uploadImg(this)"  accept="image/*">
                            </div>
                            <div class="col-sm-2"  style="color:red">
                                <span >建议尺寸:750*755</span>
                            </div>
                        </div>
                        <input type="hidden"  name="imgurl"   value="{present name='info'}{$info.imgurl}{/present}"  id="headimgurl"/>
                        <div class="hr-line-dashed"></div>

                        {present name="info"}
                        {notempty name="info.samll_imgurl"}
                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">缩略图</label>
                            <div class="col-sm-8">
                                <img src="{$info.samll_imgurl}" width="150" id="nowsamllimgurl"/>
                            </div>
                        </div>
                        {/notempty}
                        {/present}
                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">缩略图</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control" name="samll_imgurl" id="samll_imgurl" data-index="0"  onchange ="uploadSmallImg(this)"  accept="image/*">
                            </div>
                            <div class="col-sm-2"  style="color:red">
                                <span >建议尺寸:102*132</span>
                            </div>
                        </div>
                        <input type="hidden"  name="samll_imgurl"   value="{present name='info'}{$info.samll_imgurl}{/present}"  id="samllimgurl"/>
                        <div class="hr-line-dashed"></div>

                        {present name="info"}
                        {notempty name="info.complete_course"}
                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">完整课程图</label>
                            <div class="col-sm-8">
                                <img src="{$info.complete_course}" width="150" id="nowcomplete_course"/>
                            </div>
                        </div>
                        {/notempty}
                        {/present}
                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">大图</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control" name="imgurl" id="imgurl" data-index="0"  onchange ="uploadimgurl(this)"  accept="image/*">
                            </div>
                            <div class="col-sm-1"  style="color:red">
                                <span >建议尺寸:750*755</span>
                            </div>
                        </div>
                        <input type="hidden"  name="complete_course"   value="{present name='info'}{$info.complete_course}{/present}"  id="imgurlsrc"/>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">老师</label>
                            <div class="col-sm-7">
                                <select name="teacher_id" class="ftype form-control">
                                    {foreach name="teacher" item="item"}
                                    <option value="{$item.id}" {present name="info"}{eq name="$info.teacher_id" value="$item.id"}selected{/eq}{/present}>{$item.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">课程亮点</label>
                            <div class="col-sm-7">
                                <textarea type="text" cols="30"  rows="10" name="course_bright" placeholder="请输入课程课程亮点" class="form-control" required >{present name='info'}{$info.course_bright}{/present}</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="save">保存内容</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__UEDITOR__/ueditor.config.js?v=20161018"></script>
<script src="__UEDITOR__/ueditor.all.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="/static/hplus/js/plugins/layer/layer.js"></script>

<script>
    $(function () {
        $("input[type='file']").prettyFile();
        $("#newsForm").submit(function() {
            $.ajax({
                url: "{:\\think\\Url::build('course/add')}",
                data: $(this).serialize(),
                dataType: "json",
                type: "post",
                success: function(data){
                    if (data.code === 1) {
                        layer.msg(data.msg, {icon: 1, time: 1500});
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                        window.location.href ="/index/course/course/cate_id/" + $('#advanced_id').val();
                    } else {
                        layer.msg(data.msg, {icon: 2, shift: 6});
                    }
                }
            });
            return false;
        });
    });

    function uploadImg(obj) {
        $.ajaxfileupload({
            url : "/index/upload/uploadHeadImg",
            secureuri : false,// 一般设置为false
            fileElementId : "logo",// 文件上传表单的id <input type="file" id="fileUpload" name="file" />
            dataType : 'json',// 返回值类型 一般设置为json
            data: {},
            success : function(data){  // 服务器成功响应处理函数
                console.log(data)
                if(data.code == 0){
                    $('#headimgurl').val(data.data)
                    $('#nowimgurl').attr('src',data.data)
                    layer.msg(data.msg, {icon: 1, time: 1500});
                }
            }
        });
        return false;
    }

    function uploadSmallImg(obj) {
        $.ajaxfileupload({
            url : "/index/upload/uploadSmallImg",
            secureuri : false,// 一般设置为false
            fileElementId : "samll_imgurl",// 文件上传表单的id <input type="file" id="fileUpload" name="file" />
            dataType : 'json',// 返回值类型 一般设置为json
            data: {},
            success : function(data){  // 服务器成功响应处理函数
                if(data.code == 0){
                    $('#samllimgurl').val(data.data)
                    $('#nowsamllimgurl').attr('src',data.data)
                    layer.msg(data.msg, {icon: 1, time: 1500});
                }
            }
        });
        return false;
    }

    /**
     * 上传大图
     * @param obj
     * @returns {boolean}
     */
    function uploadimgurl(obj){
        $.ajaxfileupload({
            url : "/index/upload/uploadImgurl",
            secureuri : false,// 一般设置为false
            fileElementId : "imgurl",// 文件上传表单的id <input type="file" id="fileUpload" name="file" />
            dataType : 'json',// 返回值类型 一般设置为json
            data: {},
            success : function(data){  // 服务器成功响应处理函数
                if(data.code == 0){
                    $('#imgurlsrc').val(data.data)
                    $('#nowcomplete_course').attr('src',data.data)
                    layer.msg(data.msg, {icon: 1, time: 1500});
                }
            }
        });
        return false;
    }


</script>
</body>
</html>