<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>协议条款</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="/static/hplus/img/favicon.png">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    
   
    
   
    <link href="/static/hplus/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
   
    <style>
        .table th, .table td {
            text-align: center;
        }
        #page-wrapper {
            padding: 0 15px;
            position: inherit;
            margin: 0 0 0 60px;
        }

    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
<div id="">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$current_menu.name}</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <form method="post" class="form-horizontal" id="newsForm">
                        <!--div class="row">
                            <div class="col-sm-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>关于我们</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_editors.html#">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li><a href="form_editors.html#">选项1</a>
                                                </li>
                                                <li><a href="form_editors.html#">选项2</a>
                                                </li>
                                            </ul>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content no-padding">
                
                                        <div class="summernote">
                                            {present name="course"}{$course.content}{/present}
                
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </div-->
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关于我们：</label>
                            <div class="col-sm-8">
                                <textarea id="about" name="about">{present name="about"}{$about.about}{/present}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">使用协议：</label>
                            <div class="col-sm-8">
                                <textarea id="useprotocol" name="useprotocol">{present name="about"}{$about.useprotocol}{/present}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">隐私协议：</label>
                            <div class="col-sm-8">
                                <textarea id="privacyprotocol" name="privacyprotocol">{present name="about"}{$about.privacyprotocol}{/present}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">才学专栏使用协议：</label>
                            <div class="col-sm-8">
                                <textarea id="cxuseprotocol" name="cxuseprotocol">{present name="about"}{$about.cxuseprotocol}{/present}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">才学专栏隐私协议：</label>
                            <div class="col-sm-8">
                                <textarea id="cxprivacyprotocol" name="cxprivacyprotocol">{present name="about"}{$about.cxprivacyprotocol}{/present}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">服务条款：</label>
                            <div class="col-sm-8">
                                <textarea id="TOS" name="TOS">{present name="about"}{$about.TOS}{/present}</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">财学堂代理协议：</label>
                            <div class="col-sm-8">
                                <textarea id="peters_contert" name="peters_contert">{present name="about"}{$about.peters_contert}{/present}</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
    </div>
</div>

<script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__UEDITOR__/ueditor.config.js?v=20161018"></script>
<script src="__UEDITOR__/ueditor.all.js"></script>
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__UEDITOR__/ueditor.config.js?v=20161018"></script>
<script src="__UEDITOR__/ueditor.all.js"></script>
<script src="/static/hplus/js/plugins/layer/layer.js"></script>


<script src="__STATIC__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__STATIC__/js/content.min.js?v=1.0.0"></script>
<script src="__STATIC__/js/plugins/summernote/summernote.min.js"></script>
<script src="__STATIC__/js/plugins/summernote/summernote-zh-CN.js"></script>
<script>
        $(document).ready(function(){$(".summernote").summernote({lang:"zh-CN"})});var edit=function(){$("#eg").addClass("no-padding");$(".click2edit").summernote({lang:"zh-CN",focus:true})};var save=function(){$("#eg").removeClass("no-padding");var aHTML=$(".click2edit").code();$(".click2edit").destroy()};
    </script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
<script>
    $(function () {
        var ue = UE.getEditor('about', {
            toolbars: [
                [
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    'removeformat', //清除格式
                    'time', //时间
                    'date', //日期
                    'fontfamily', //字体
                    'fontsize', //字号
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'imagecenter', //居中
                ]
            ],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });
        ue.ready(function(){
            ue.execCommand('lineheight', 2); //行间距
            ue.execCommand('fontsize', '18px'); //字号
        });
        var ues = UE.getEditor('useprotocol', {
            toolbars: [
                [
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    'removeformat', //清除格式
                    'time', //时间
                    'date', //日期
                    'fontfamily', //字体
                    'fontsize', //字号
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'imagecenter', //居中
                ]
            ],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });
        ues.ready(function(){
            ues.execCommand('lineheight', 2); //行间距
            ues.execCommand('fontsize', '18px'); //字号
        });
        var pri = UE.getEditor('privacyprotocol', {
            toolbars: [
                [
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    'removeformat', //清除格式
                    'time', //时间
                    'date', //日期
                    'fontfamily', //字体
                    'fontsize', //字号
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'imagecenter', //居中
                ]
            ],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });
        pri.ready(function(){
            pri.execCommand('lineheight', 2); //行间距
            pri.execCommand('fontsize', '18px'); //字号
        });
        var cxues = UE.getEditor('cxuseprotocol', {
            toolbars: [
                [
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    'removeformat', //清除格式
                    'time', //时间
                    'date', //日期
                    'fontfamily', //字体
                    'fontsize', //字号
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'imagecenter', //居中
                ]
            ],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });

        cxues.ready(function(){
            cxues.execCommand('lineheight', 2); //行间距
            cxues.execCommand('fontsize', '18px'); //字号
        });

        var cxpri = UE.getEditor('cxprivacyprotocol', {
            toolbars: [
                [
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    'removeformat', //清除格式
                    'time', //时间
                    'date', //日期
                    'fontfamily', //字体
                    'fontsize', //字号
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'imagecenter', //居中
                ]
            ],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });

        cxpri.ready(function(){
            cxpri.execCommand('lineheight', 2); //行间距
            cxpri.execCommand('fontsize', '18px'); //字号
        });
        var tos = UE.getEditor('TOS', {
            toolbars: [
                [
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    'removeformat', //清除格式
                    'time', //时间
                    'date', //日期
                    'fontfamily', //字体
                    'fontsize', //字号
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'imagecenter', //居中
                ]
            ],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });

        tos.ready(function(){
            tos.execCommand('lineheight', 2); //行间距
            tos.execCommand('fontsize', '18px'); //字号
        });
        //caixuetangdaili 
        var peters_contert = UE.getEditor('peters_contert', {
            toolbars: [
                [
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    'removeformat', //清除格式
                    'time', //时间
                    'date', //日期
                    'fontfamily', //字体
                    'fontsize', //字号
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'imagecenter', //居中
                ]
            ],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });
//
        peters_contert.ready(function(){
            peters_contert.execCommand('lineheight', 2); //行间距
            peters_contert.execCommand('fontsize', '18px'); //字号
        });

        $("#newsForm").submit(function() {
            var about = ue.getContent().replace(/\"/g,"'");
            var useprotocol = ues.getContent().replace(/\"/g,"'");
            var privacyprotocol = pri.getContent().replace(/\"/g,"'");
            var cxuseprotocol = cxues.getContent().replace(/\"/g,"'");
            var cxprivacyprotocol = cxpri.getContent().replace(/\"/g,"'");
            var TOS = tos.getContent().replace(/\"/g,"'");
            var peters_contert = peters_contert.getContent().replace(/\"/g,"'");
            $.ajax({
                url: "{:\\think\\Url::build('system/aboutus')}",
                data: {'about':about,'useprotocol':useprotocol,'privacyprotocol':privacyprotocol,'cxuseprotocol':cxuseprotocol,'cxprivacyprotocol':cxprivacyprotocol,'TOS':TOS,'peters_contert':peters_contert},
                dataType: "json",
                type: "post",
                success: function(data){
                    if (data.code==1) {
                        if (data.code === 1) {
                            layer.msg(data.msg, {icon: 1, time: 1500});
                            window.location.href=data.url
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    } else {
                        layer.msg('服务器错误，请重试', {icon: 2});

                    }
                },

            });
            return false;
        });
    });
</script>
</body>
</html>