<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>才学APP - {$current_menu.name|default=''}</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="/static/hplus/img/favicon.png">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <style>
        .table th, .table td {
            text-align: center;
        }
        #page-wrapper {
            padding: 0 15px;
            position: inherit;
            margin: 0 0 0 60px;
        }

    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
<div >
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$current_menu.name|default="编辑课程"}</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <form method="post" class="form-horizontal" id="newsForm">
                        <input type="hidden" name="id" value="{present name='id'}{$id}{/present}">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" placeholder="填写名称" class="form-control" required value="{present name='info'}{$info.name}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">模板类型</label>
                            <div class="col-sm-7">
                                <select name="type" class="ftype form-control">
                                    <option value="0" {present name="info"}{eq name="$info.type" value="0"}selected{/eq}{/present}>非通用模板</option>
                                    <option value="1" {present name="info"}{eq name="$info.type" value="1"}selected{/eq}{/present}>通用模板</option>
                                </select>
                            </div>
                        </div>

                        {present name="info"}
                            {notempty name="info.url"}
                                <div class="form-group logo">
                                    <label class="col-sm-2 control-label">图片</label>
                                    <div class="col-sm-8">
                                        <img src="{$info.url}" width="150"  id="nowimgurl"/>
                                    </div>
                                </div>
                            {/notempty}
                        {/present}

                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control" name="logo" id="logo" data-index="0"   accept="image/*">
                            </div>
                            <div class="col-sm-2"  style="color:red">
                                <span >建议尺寸:750*755</span>
                            </div>
                        </div>
                        <input type="hidden"  name="url"   value="{present name='info'}{$info.url}{/present}"  id="headimgurl"/>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">模板文字说明</label>
                            <div class="col-sm-7">
                                <input type="text" name="note" placeholder="多行可用逗号(,)隔开" class="form-control" required value="{present name='info'}{$info.note}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="save">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__UEDITOR__/ueditor.config.js?v=20161018"></script>
<script src="__UEDITOR__/ueditor.all.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="/static/hplus/js/plugins/layer/layer.js"></script>

<script>
    $(function () {
        $("input[type='file']").prettyFile();
        $("#newsForm").submit(function() {
            showWaiting();
            $.ajaxfileupload({
                url: "{:\\think\\Url::build('System/addposter')}",
                type: "get",
                async: false,
                secureuri: false,
                fileElementId: "logo",
                dataType: "json",
                data: $(this).serialize(),
                success: function(data){
                    closeWaiting()
                    if (data.code === 1) {
                        layer.msg(data.msg, {icon: 1, shift: 6});
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                        window.location.href = '/index/System/posterTemp';
                    } else {
                        layer.msg(data.msg, {icon: 2, shift: 6});
                    }
                },
                error: function(e){
                    layer.msg('服务器异常,请重试', {icon: 2, shift: 6});
                }
            });
            return false;
        });
    });

    function showWaiting(){
        var node=document.createElement("div");  //创建一个div元素节点，作为整个背景的容器
        var nodeClass=document.createAttribute("class"); //创建class元素属性
        var nodeStyle = document.createAttribute("style"); //创建style元素属性
        var nodeName = document.createAttribute("name"); //创建name元素属性
        nodeName.value = "divWaiting"; //给元素节点命名
        nodeClass.value = "div-waiting"; //元素属性赋值
        nodeStyle.value = "height:"+window.innerHeight + "px; width:"+window.innerWidth+"px;";
        node.setAttributeNode(nodeClass); //设置元素节点的属性及值
        node.setAttributeNode(nodeStyle);
        node.setAttributeNode(nodeName);
        var iconNode = document.createElement("div");  //创建一个div元素节点，作为旋转图标的容器
        var iconClass = document.createAttribute("class");
        iconClass.value = "icon-waiting";
        //iconClass.value = "fa fa-spinner fa-pulse icon-position";
        iconNode.setAttributeNode(iconClass);
        node.appendChild(iconNode);  //将图标节点放到整个背景的元素节点
        document.body.appendChild(node); //将整个背景div插入到body中
    }


    function closeWaiting() {
        var wait = document.getElementsByName("divWaiting"); //获取name为divWaiting的元素节点
        console.log(wait);
        //遍历所有的节点，将body中的所有等待旋转效果去掉
        for (var i = wait.length - 1; i >= 0; i--) {
            document.body.removeChild(wait[i]);
        }
    }

</script>
</body>
</html>