<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{$current_menu.name|default=''}</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="__STATIC__/img/favicon.png">
    <link href="__STATIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__STATIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__STATIC__/css/animate.min.css" rel="stylesheet">
    <link href="__STATIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="__STATIC__/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="__STATIC__/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <style type="text/css">
        input[type=number] {
            -moz-appearance:textfield;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>

</head>
<body class="fixed-sidebar full-height-layout gray-bg" >
<div id="">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$current_menu.name|default="编辑个人信息"}</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <form class="form-horizontal" id="addForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">专栏名称</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" placeholder="专栏名称" class="form-control" value="{present name='info'}{$info.name}{/present}" maxlength="30">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">专栏介绍</label>
                            <div class="col-sm-7">
                                <textarea placeholder="专栏介绍" name="content"  rows="10"  cols="20" class="form-control">{present name='info'}{$info.content}{/present}</textarea>
                            </div>
                        </div>
                        {present name="cate"}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">专栏分类</label>
                            <div class="col-sm-7">
                                <select name="type" class="ftype form-control type">
                                    <option value="" >请选择类型</option></option>
                                    {foreach name="cate" item="item1"}
                                    <option value="{$item1.id}" {if $item1.id == $info.type}selected{/if}>{$item1.name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        {/present}
                        <div class="hr-line-dashed"></div>
                        {present name="info"}
                            {notempty name="info.imgurl"}
                                <div class="form-group logo">
                                    <label class="col-sm-2 control-label">当前图片</label>
                                    <div class="col-sm-8">
                                        <img src="{$info.imgurl}" width="150"/>
                                    </div>
                                </div>
                               <input type="hidden" name="imgurl"  class="form-control" value="{$info.imgurl}">
                            {/notempty}
                        {/present}
                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control" name="logo" id="logo" data-index="0" accept="image/*">
                            </div>
                            <div class="col-sm-1"  style="color:red">
                                <span >建议尺寸:750*755</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">设置密码</label>
                            <div class="col-sm-7">
                                <input type="text" name="password" placeholder="设置密码" class="form-control" value="" maxlength="30">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-7">
                                <input type="text" name="rpwd" placeholder="请输入确认密码" class="form-control" value="" maxlength="30">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit" id="save">保存内容</button>
                                <button class="btn btn-white" type="reset">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="__STATIC__/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__STATIC__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__STATIC__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/js/plugins/layer/layer.js"></script>
<script src="__STATIC__/js/hplus.min.js?v=4.1.0"></script>
<script src="__STATIC__/js/contabs.min.js"></script>
<script src="__STATIC__/js/plugins/pace/pace.min.js"></script>
<script src="__STATIC__/js/content.min.js"></script>

<script src="__STATIC__/js/plugins/toastr/toastr.min.js"></script>
<script src="__STATIC__/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__STATIC__/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__STATIC__/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__UEDITOR__/ueditor.config.js"></script>
<script src="__UEDITOR__/ueditor.all.js"></script>

<script>

    $(function(){
        $("input[type='file']").prettyFile();
        $("#addForm").submit(function(){
            //$('#save').attr('disabled',true)
          	
            $.ajaxfileupload({
                url: "{:\\think\\Url::build('Index/myInfo')}",
                type: "post",
                async: false,
                secureuri: false,
                fileElementId: 'logo',
                dataType: "json",
                data: $(this).serialize(),
                success: function(data){
                  //console.log(data);return
                    if (data.code == 1) {
                        layer.msg(data.msg, {icon: 1, shift: 6});
                        window.location.href = "{:\\think\\Url::build('Index/myInfo')}";
                    } else {
                        layer.msg(data.msg, {icon: 2, shift: 6});
                    }
                }
            });
            return false;
        });

    });


</script>


</body>
</html>