<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>才学APP - {$current_menu.name|default=''}</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="/static/hplus/img/favicon.png">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <style>
        .table th, .table td {
            text-align: center;
        }
        #page-wrapper {
            padding: 0 15px;
            position: inherit;
            margin: 0 0 0 60px;
        }

    </style>

    <style type="text/css">
        @-webkit-keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        .div-waiting{
            position: fixed;
            z-index: 998;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 1;
            background: rgba(0,0,0,0.2);
            vertical-align: middle;
            text-align: center;
        }
        .icon-waiting{
            position: relative;
            top: 48%;
            width: 5rem;
            height: 5rem;
            margin: 0 auto;
            border-radius: 50%;
            border: 0.5rem solid rgba(21, 21, 21, 0.4);
            border-top-color: #e1e1e1;
            -webkit-animation: 1.5s spin infinite linear;
            animation: 1.5s spin infinite linear;
        }
        .icon-position{
            position: relative;
            top: 48%;
            margin: 0 auto;
            font-size: 30px;
        }
        button{
            padding: 6px 12px;
            margin: 10px;
            background: #00bbee;
            border: 1px solid #00bfff;
            border-radius: 3px;
        }
    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
<div >
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$current_menu.name|default=""}</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <form method="post" class="form-horizontal" id="newsForm">
                        <input type="hidden" name="id" value="{present name='id'}{$id}{/present}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" placeholder="填写标题" class="form-control" required value="{present name='info'}{$info.name}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">类别</label>
                            <div class="col-sm-7">
                                <select name="kind" class="ftype form-control">
                                    <option value="1" {present name="info"}{eq name="$info.kind" value="1"}selected{/eq}{/present}>轮播</option>
                                    <option value="2" {present name="info"}{eq name="$info.kind" value="2"}selected{/eq}{/present}>广告位</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        {present name="info"}
                            {notempty name="info.children"}
                             {foreach name="info.children" item="item"}
                                  <div class="logo">
                                        <div class="form-group ">
                                            <label class="col-sm-2 control-label">图片</label>
                                            <div class="col-sm-8">
                                                <div class="col-sm-3">
                                                    <img src="{$item.imgurl}" width="150"/>
                                                </div>

                                                <input type="hidden"  value="{$item.imgurl}"  name="imgurl[]"/>
                                                <div class="col-sm-8">
                                                    {eq name="$key" value="0"}
                                                    <input type="file" class="form-control" name="logo[]"  id="logo"  accept="image/*">
                                                    {else /}
                                                    <input type="file" class="form-control" name="logo[]"  id="logo{$key}"  data-index="{$key}" accept="image/*">
                                                    {/eq}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">跳转场景</label>
                                            <div class="col-sm-7">
                                                <select name="type[]" class="ftype form-control" data-index="{$key}" id="changetype{$key}" onchange="changetype({$key})">
                                                    <option value="1" {eq name="$item.type" value="1"}selected{/eq}>外部链接</option>
                                                    <option value="2" {eq name="$item.type" value="2"}selected{/eq}>文章</option>
                                                    <option value="3" {eq name="$item.type" value="3"}selected{/eq}>才学堂</option>
                                                    <option value="4" {eq name="$item.type" value="4"}selected{/eq}>学财商</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">链接地址</label>
                                            <div class="col-sm-3">
                                                <input type="text" name="link[]" placeholder="链接地址" class="form-control" required value="{$item.link}">
                                            </div>

                                            <div {if condition="$item.type == 1"}style="display: none"
                                                {else /}style="display: block;"{/if} id="typevalue{$key}" data-index="0" >
                                                <label class="col-sm-2 control-label">ID值</label>
                                                <div class="col-sm-2">
                                                    <input type="text" name="idvalue[]" placeholder="填写对应场景ID值" class="form-control" value="{$item.idvalue}">
                                                </div>
                                            </div>

                                            <div class="col-sm-1">
                                                {eq name="$key" value="0"}
                                                    <button type="button" class="add btn btn-primary btn-block btn-outline" onclick="addLogo()">添  加</button>
                                                    {else /}
                                                    <button type="button" class="btn btn-primary btn-block btn-outline" onclick="del_logo(this)">删   除</button>
                                                {/eq}
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                   </div>
                                {/foreach}
                            {/notempty}
                        {else /}

                            <div class="logo">
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label">图片</label>
                                    <div class="col-sm-8">
                                        <input type="file" class="form-control" name="logo[]" id="logo" data-index="0" accept="image/*">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">跳转场景</label>
                                    <div class="col-sm-8">
                                        <select name="type[]" class="ftype form-control" data-index="0" id="changetype0" onchange="changetype(0)">
                                            <option value="1" >外部链接</option>
                                            <option value="2" >文章</option>
                                            <option value="3" >才学堂</option>
                                            <option value="4">学财商</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">链接地址</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="link[]" placeholder="链接地址" class="form-control" required value="">
                                    </div>

                                    <div style="display: none;" id="typevalue0" data-index="0" >
                                        <label class="col-sm-2 control-label">ID值</label>
                                        <div class="col-sm-2">
                                            <input type="text" name="idvalue[]" placeholder="填写对应场景ID值" class="form-control" value="">
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="add btn btn-primary btn-block btn-outline" onclick="addLogo()">添  加</button>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                            </div>
                        {/present}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序:</label>
                            <div class="col-sm-7">
                                <input type="text" name="sort" placeholder="排序" class="form-control" required value="{present name='info'}{$info.sort}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="save">保存内容</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__UEDITOR__/ueditor.config.js?v=20161018"></script>
<script src="__UEDITOR__/ueditor.all.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="/static/hplus/js/plugins/layer/layer.js"></script>

<script>

    function changetype(type) {
        var changetypeid = "changetype" + type;
        var value = $('#changetype' + type).val()
        console.log(changetypeid)
        console.log(value)
        if(value == 1){
            $("#typevalue" + type).css('display','none');
        }else{
            $("#typevalue" + type).css('display','block');
        }
    }
    $(function () {
		
        $("input[type='file']").prettyFile();
        $("#newsForm").submit(function() {
            var id = [];
            $(".logo").find('input[type="file"]').each(function(index) {
                id[index] = $(this).attr('id');
            });
            showWaiting();
            $.ajaxfileupload({
                url: "{:\\think\\Url::build('Knowledge/addAdver')}",
                type: "get",
                async: false,
                secureuri: false,
                fileElementId: id,
                dataType: "json",
                data: $(this).serialize(),
                success: function(data){
                    if (data.code === 1) {
                        layer.msg(data.msg, {icon: 1, shift: 6});
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引  
                        parent.layer.close(index); 
                        window.location.href = '/index/Knowledge/adver';
                    } else {
                        layer.msg(data.msg, {icon: 2, shift: 6});
                    }
                },
                error: function(e){
                    layer.msg('服务器异常,请重试', {icon: 2, shift: 6});
                }
            });
            return false;
        });
    });

    function showWaiting(){
      //alert();
        var node=document.createElement("div");  //创建一个div元素节点，作为整个背景的容器
        var nodeClass=document.createAttribute("class"); //创建class元素属性
        var nodeStyle = document.createAttribute("style"); //创建style元素属性
        var nodeName = document.createAttribute("name"); //创建name元素属性
        nodeName.value = "divWaiting"; //给元素节点命名
        nodeClass.value = "div-waiting"; //元素属性赋值
        nodeStyle.value = "height:"+window.innerHeight + "px; width:"+window.innerWidth+"px;";
        node.setAttributeNode(nodeClass); //设置元素节点的属性及值
        node.setAttributeNode(nodeStyle);
        node.setAttributeNode(nodeName);
        var iconNode = document.createElement("div");  //创建一个div元素节点，作为旋转图标的容器
        var iconClass = document.createAttribute("class");
        iconClass.value = "icon-waiting";
        //iconClass.value = "fa fa-spinner fa-pulse icon-position";
        iconNode.setAttributeNode(iconClass);
        node.appendChild(iconNode);  //将图标节点放到整个背景的元素节点
        document.body.appendChild(node); //将整个背景div插入到body中
    }


    function closeWaiting() {
        var wait = document.getElementsByName("divWaiting"); //获取name为divWaiting的元素节点
        console.log(wait);
        //遍历所有的节点，将body中的所有等待旋转效果去掉
        for (var i = wait.length - 1; i >= 0; i--) {
            document.body.removeChild(wait[i]);
        }
    }

    function addLogo() {
        var index = $(".logo:last").find('input[type="file"]').attr('data-index');
        index = parseInt(index) + 1;
        var html = '<div class="logo">';
        html += '<div class="form-group ">';
        html += '<label class="col-sm-2 control-label">图片</label>';
        html += '<div class="col-sm-8">';
        html += '<input type="file" class="form-control" name="logo[]"  id="logo' + index + '" data-index="' + index + '" accept="image/*">';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-sm-2 control-label">跳转场景</label>';
        html += '<div class="col-sm-8">';
        html += '<select name="type[]" class="ftype form-control" data-index="' + index + '" id="changetype' + index + '" onchange="changetype('+ index +')">';
        html += '<option value="1" >外部链接</option>';
        html += '<option value="2" >文章</option>';
        html += '<option value="3" >才学堂</option>';
        html += '<option value="4">学财商</option>';
        html += '</select>';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-sm-2 control-label">链接地址</label>';
        html += '<div class="col-sm-3">';
        html += '<input type="text" name="link[]" placeholder="链接地址" class="form-control" required value="">';
        html += '</div>';
        html += '<div style="display: none;" id="typevalue' + index + '" data-index="' + index + '">';
        html += '<label class="col-sm-2 control-label">ID值</label>';
        html += '<div class="col-sm-2">';
        html += '<input type="text" name="idvalue[]" placeholder="填写对应场景ID值" class="form-control" value="">';
        html += '</div>';
        html += '</div>';
        html += '<div class="col-sm-1">';
        html += '<button type="button" class="btn btn-primary btn-block btn-outline" onclick="del_logo(this)">删  除</button>';
        html += '</div>';
        html += '</div>';
        html += '<div class="hr-line-dashed"></div>';
        html += '</div>';
        $(".logo:last").after(html);
        $("#logo" + index).prettyFile();
        // var html = '<div class="form-group logo">'html += '
        // html += '<label class="col-sm-2 control-label">图片</label>';
        // html += '<div class="col-sm-3">';
        // html += '<input type="file" class="form-control" name="logo[]" id="logo' + index + '" data-index="' + index + '" accept="image/*">';
        // html += '</div>';
        // html += '<label class="col-sm-1 control-label">跳转场景</label>';
        // html += '<div class="col-sm-3">';
        // html += '<select name="type[]" class="ftype form-control" data-index="' + index + '" id="changetype' + index + '" onchange="changetype('+ index +')">';
        // html += '<option value="1" >外部链接</option>';
        // html += '<option value="2">文章</option>';
        // html += '<option value="3" >才学堂</option>';
        // html += '<option value="4">学财商</option>';
        // html += '</select>';
        // html += '</div>';
        // html += '<div class="hr-line-dashed"></div>';
        // html += '<div class="form-group">';
        // html += '<label class="col-sm-2 control-label">链接地址</label>';
        // html += '<div class="col-sm-3">';
        // html += '<input type="text" name="link[]" placeholder="链接地址" class="form-control" required value="">';
        // html += '</div>';
        // html += '<div style="display: none;" id="typevalue' + index + '" data-index="' + index + '" >';
        // html += '<label class="col-sm-1 control-label">ID值</label>';
        // html += '<div class="col-sm-3">';
        // html += '<input type="text" name="idvalue[]" placeholder="填写对应场景ID值" class="form-control" value="">';
        // html += '</div>';
        // html += '</div>';
        // html += '<div class="col-sm-1">';
        // html += '<button type="button" class="btn btn-primary btn-block btn-outline" onclick="del_logo(this)">删  除</button>';
        // html += '</div></div>';
        // html += '<div class="hr-line-dashed"></div>';
        // html += '</div>';
        // html += '<div class="hr-line-dashed"></div>';


    }

    function del_logo(del_logo) {
        $(del_logo).parents('.logo').remove();
    }

</script>
</body>
</html>