<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{$current_menu.name|default=''}</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="/static/hplus/img/favicon.png">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg">
 <div>
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1" style="overflow: auto;">
        <div class="wrapper wrapper-content animated fadeInRight">
            <style>
                .table th, .table td {
                    text-align: center;
                }
                #page-wrapper {
                    padding: 0 15px;
                    position: inherit;
                    margin: 0 0 0 60px;
                }

            </style>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$current_menu.name|default=''}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row row-lg">
                        <div class="col-sm-12  col-md-12">
                            <div class="example-wrap">
                                <div class="example">
                                    <div class="btn-group hidden-xs" id="bootstrapTableToolbar">
                                        <form role="form" class="form-inline">
                                            <div class="form-group">
                                                <label>专栏名称</label>
                                                <input type="text" name="name" placeholder="请输入专栏名称" class="form-control" value=""  id="name">
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="form-group">
                                                <label>专栏状态</label>
                                                <select class="form-control" id="status" name="status">
                                                    <option value="" >-全部-</option>
                                                    <option value="0">未审核</option>
                                                    <option value="1">审核通过</option>
                                                    <option value="2">驳回</option>
                                                    <option value="3">黑名单</option>
                                                </select>
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="form-group">
                                                <button type="button" class="btn btn-outline btn-primary" onclick="search()" style="margin-bottom: 0">
                                                    <i class="fa fa-search" aria-hidden="true"></i>&nbsp;搜索
                                                </button>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-outline btn-primary" onclick="exportes()" style="margin-bottom: 0">
                                                    导出
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                    <table id="bootstrapTable" data-click-to-select="true">
                                        <thead>
                                            <tr>
                                               <th data-checkbox="true"></th>
                                                <th data-field="id" data-sortable="true" >序号</th>
                                                <th data-field="tutorimg" data-formatter="formatImg" >导师头像</th>
                                                <th data-field="imgurl" data-formatter="formatImgUrl" >专栏头像</th>
                                                <th data-field="tutorname" data-sortable="true" >导师名字</th>
                                                <th data-field="name" data-sortable="true" >专栏名称</th>
                                                <th data-field="article_num" data-sortable="true" >文章数量</th>
                                                <th data-field="like_num" data-sortable="true" >点赞数量</th>
                                                <th data-field="comment_num" data-sortable="true">赞赏作者数量</th>
                                                <th data-field="follownum" data-sortable="true" >关注人数</th>
                                                <th data-field="befollownum" data-sortable="true" >粉丝人数</th>
                                                <th data-field="status" data-sortable="true" data-formatter="formatStatus">状态</th>
                                                <th data-field="addtime" data-sortable="true"   data-formatter="formatTime">申请时间</th>
                                                <th data-field="checktime" data-sortable="true"   data-formatter="formatTime">审核时间</th>
                                                <th data-field="" data-formatter="formatOperation" >操作</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
    <!--右侧部分结束-->

 <div class="modal inmodal fade" tabindex="-1" role="dialog"  aria-hidden="true" id="edit">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
                 </button>
                 <h4 class="modal-title">驳回原因</h4>
             </div>
             <form class="form-horizontal" id="editForm">
                 <div class="modal-body">
                     <input type="hidden" name="id" value=""  id="id">
                     <div class="form-group">
                         <label class="col-sm-2 control-label">原因</label>
                         <div class="col-sm-10">
                             <textarea type="text" name="refuse" cols="30"  rows="10" class="form-control" id="refuse"></textarea>
                         </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button type="reset" class="btn btn-white" data-dismiss="modal">关闭</button>
                     <button type="submit" class="btn btn-primary">提交</button>
                 </div>
             </form>
         </div>
     </div>
 </div>


 <div class="modal inmodal fade" tabindex="-1" role="dialog"  aria-hidden="true" id="black">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
                 </button>
                 <h4 class="modal-title">加入黑名单原因</h4>
             </div>
             <form class="form-horizontal" id="blackForm">
                 <div class="modal-body">
                     <input type="hidden" name="id" value=""  id="blackid">
                     <div class="form-group">
                         <label class="col-sm-2 control-label">原因</label>
                         <div class="col-sm-10">
                             <textarea type="text" name="refuse" cols="30"  rows="10" class="form-control" id="blackrefuse"></textarea>
                         </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button type="reset" class="btn btn-white" data-dismiss="modal">关闭</button>
                     <button type="submit" class="btn btn-primary">提交</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
<script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/hplus/js/plugins/layer/layer.js"></script>
<script src="/static/hplus/js/hplus.min.js?v=4.1.0"></script>
<script src="/static/hplus/js/contabs.min.js"></script>
<script src="/static/hplus/js/plugins/pace/pace.min.js"></script>
<script src="/static/hplus/js/content.min.js"></script>

<script src="/static/hplus/js/plugins/toastr/toastr.min.js"></script>
<script src="/static/hplus/js/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/static/hplus/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/static/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/hplus/js/common.js"></script>

<script src="/static/hplus/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/hplus/js/plugins/datapicker/bootstrap-datepicker.js"></script>

 <link href="/static/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
 <script src="/static/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>

    $(function () {
        $("#bootstrapTable").bootstrapTable({
                url: "{:\\think\\Url::build('knowledge/tutor')}",
                idField: 'id',
                search: false,
                cache: false,       //是否使用缓存
                sortStable: true,
                sortOrder: 'desc',
                striped: true,      //是否显示行间隔色
                pagination: true,
                detailView: false,       //开启详细视图功能
                detailFormatter: 'detailFormat',
                sidePagination: 'server',
                pageNumber: 1,
                pageSize: 10,
                pageList: '[10, 30, 100]',
                showRefresh: true,
                showToggle: false,
                showColumns: true,
                iconSize: "outline",
                toolbar: "#bootstrapTableToolbar"
            });
    });

    //格式化图片
    function formatImg(value, row) {
        var html = '<img src="' + value + '" style="height: 50px;">';
        return html;
    }

    function formatImgUrl(value) {
        var html = '<img src="' + value + '" style="height: 50px;">';
        return html;
    }


    function formatStatus(value, row, index) {
        var text = '';
        if(value==1) {
            text += '<span >审核中</span>';
        }else if(value == 2){
            text += '<span style="">审核通过</span>';
        }else if(value == 3){
            text += '<span style="">审核驳回</span>';
        }else if(value == 4){
            text += '<span style="color:red">黑名单</span>';
        }else{
            text += '<span style="color:red">未知状态</span>';
        }
        return text;
    }

    function exportes() {
        var status = $('#status').val();
        var name = $('#name').val();
        window.location.href="/index/knowledge/export/status/" + status + '/name/' + name;

    }


    function search() {
        var status = $('#status').val();
        var name = $('#name').val();
        $('#bootstrapTable').bootstrapTable("refreshOptions",{
            queryParams:function(params){
                var data = {name: name, status:status};
                var query = $.extend( true, params, data);
                return query;
            }
        });
    }


    //格式化操作
    function formatOperation(value, row) {
        var html = '<div class="btn-group">';
        if(row.status == 1) {
            html += '<button type="button" class="btn btn-w-m btn-white" onclick="check(' + row.id + ',2,1)">通过</button>';
            html += '<button type="button" class="btn btn-w-m btn-primary" onclick="refuse(' + row.id + ')">驳回</button>';
        }else if(row.status == 2) {
            html += '<button type="button" class="btn btn-w-m btn-danger" onclick="black(' + row.id + ',4,3)">加入黑名单</button>';
        }else if(row.status == 4) {
            html += '<button type="button" class="btn btn-w-m btn-danger" onclick="check(' + row.id + ',1,4)">移出黑名单</button>';
        }else if(row.status == 3) {
            html += '<button type="button" class="btn btn-w-m btn-primary" >已驳回</button>';
        }
        html +=	'</div>';
        return html;
    }

    function refuse(id) {
        $('#id').val(id)
        $("#edit").modal();
    }

    function black(id) {
        $('#blackid').val(id)
        $("#black").modal();
    }

    $("#blackForm").submit(function () {
        var id = $('#blackid').val();
        var refuse = $('#blackrefuse').val()
        $.ajax({
            url: "{:\\think\\Url::build('knowledge/checkTutor')}",
            type: "post",
            data: {id: id,status:4,refuse:refuse},
            dataType: "json",
            success: function (data) {
                if (data.code === 1) {
                    swal(data.msg, "操作成功", "success");
                    $("#black").modal('hide');
                    $('#blackrefuse').val('')
                    $("#bootstrapTable").bootstrapTable('refresh');
                } else {
                    swal(data.msg,"操作失败","error")
                }
            },
            error: function (e) {
                swal(data.msg,"操作失败","error")
            }
        });
        return false;
    });


    $("#editForm").submit(function () {
        var id = $('#id').val();
        var refuse = $('#refuse').val()
        $.ajax({
            url: "{:\\think\\Url::build('knowledge/checkTutor')}",
            type: "post",
            data: {id: id,status:3,refuse:refuse},
            dataType: "json",
            success: function (data) {
                if (data.code === 1) {
                    swal(data.msg, "操作成功", "success");
                    $("#edit").modal('hide');
                    $('#refuse').val('')
                    $("#bootstrapTable").bootstrapTable('refresh');
                } else {
                    swal(data.msg,"操作失败","error")
                }
            },
            error: function (e) {
                swal(data.msg,"操作失败","error")

            }
        });
        return false;
    });


    function check(id,status,type) {
        var msg = '';
        if(type == 1) {
            msg = '通过'
        }else{
            msg = '移出黑名单'
        }
        swal({
            title:"您确定要"+ msg +"吗",
            text:msg +"请谨慎操作！",
            type:"warning",
            showCancelButton:true,
            confirmButtonColor:"#DD6B55",
            confirmButtonText:'是的，'+ msg +'！',
            cancelButtonText:"让我再考虑一下…",
            closeOnConfirm:false,closeOnCancel:false
        },function(isConfirm){
            if(isConfirm){
                $.ajax({
                    url: "{:\\think\\Url::build('knowledge/checkTutor')}",
                    data: {id: id,status:status},
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 1) {
                            swal(data.msg, "操作成功。", "success");
                            $("#bootstrapTable").bootstrapTable('refresh');
                        } else {
                            swal("错误",data.msg,"error")
                        }
                    },
                    error: function(e) {
                        swal("操作错误","服务器错误，请重试！","error")
                    }
                });
            }else{
                swal("已取消","您取消了该操作！","error")
            }
        })
    }

</script>

</body>
</html>
