<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>才学酒馆</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1809818_gfj9lnha0yc.css" />
    <link rel="stylesheet" href="/static/wxapp/css/alayout.css" />
    <link rel="stylesheet" href="/static/wxapp/css/detail.css" />
    <script src="/static/wxapp/js/flexible.js"></script>
    <style>
        img { -ms-interpolation-mode: bicubic; }

        img { width: 100%; }
    </style>
  </head>
  <body>
    <section class="padding-30">
      
      <div class="font-32 font-weight-500">{$data['addtime']}</div>
      
      <div class="margin-top-30 font-28">{$data['abstract']}</div>
      
      <div style="height: 1.72rem;"></div>
      
    </section>
    <script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/wxapp/js/device.js"></script>
    <script src="/static/wxapp/js/main.js"></script>
    <script>
       
    </script>
  </body>
</html>
