<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>才学APP - {$current_menu.name|default=''}</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="/static/hplus/img/favicon.png">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <style>
        .table th, .table td {
            text-align: center;
        }
        #page-wrapper {
            padding: 0 15px;
            position: inherit;
            margin: 0 0 0 60px;
        }

    </style>

    <style type="text/css">
        @-webkit-keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        .div-waiting{
            position: fixed;
            z-index: 998;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 1;
            background: rgba(0,0,0,0.2);
            vertical-align: middle;
            text-align: center;
        }
        .icon-waiting{
            position: relative;
            top: 48%;
            width: 5rem;
            height: 5rem;
            margin: 0 auto;
            border-radius: 50%;
            border: 0.5rem solid rgba(21, 21, 21, 0.4);
            border-top-color: #e1e1e1;
            -webkit-animation: 1.5s spin infinite linear;
            animation: 1.5s spin infinite linear;
        }
        .icon-position{
            position: relative;
            top: 48%;
            margin: 0 auto;
            font-size: 30px;
        }
    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
<div >
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$current_menu.name}</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <form method="post" class="form-horizontal" id="newsForm">
                        <input type="hidden" name="id" value="{present name='id'}{$id}{/present}">
                        <input type="hidden" name="c_id" id="c_id" value="{present name='c_id'}{$c_id}{/present}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">章节名称</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" placeholder="填写章节名称" class="form-control" required value="{present name='info'}{$info.name}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">章节序号</label>
                            <div class="col-sm-7">
                                <input type="number" name="sort" placeholder="请填写章节序号,章节排序" class="form-control" required value="{present name='info'}{$info.sort}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">音频文件</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control" name="audio" id="audio" data-index="0"  onchange ="uploadAudio(this)">
                            </div>
                            <div class="col-sm-3"  style="color:red">
                                <span >请看到上传完成提醒再提交</span>
                            </div>
                        </div>

                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">原音频文件地址</label>
                            <div class="col-sm-7">
                                <span id="yaudiourl">{present name='info'}{$info.audiourl}{/present}</span>
                            </div>
                        </div>

                        <input type="hidden"  name="audiourl"   value="{present name='info'}{$info.audiourl}{/present}"  id="audiourl"/>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">音频时长</label>
                            <div class="col-sm-7">
                                <input type="text" name="audiotime" placeholder="填写音频时长(格式:07分12秒)" class="form-control" required value="{present name='info'}{$info.audiotime}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">音频大小</label>
                            <div class="col-sm-7">
                                <input type="text" name="audiosize" placeholder="填写音频时长(格式:9.34M)" class="form-control" required value="{present name='info'}{$info.audiosize}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容：</label>
                            <div class="col-sm-8">
                                <textarea id="container" name="content">{present name="info"}{$info.content}{/present}</textarea>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="save">保存内容</button>
                                    <button class="btn btn-white  back" >返回章节列表</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__UEDITOR__/ueditor.config.js?v=20161018"></script>
<script src="__UEDITOR__/ueditor.all.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="/static/hplus/js/plugins/layer/layer.js"></script>

<script>
    $(function () {
        $("input[type='file']").prettyFile();
        var ue = UE.getEditor('container', {
            toolbars: [
                [
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'strikethrough', //删除线
                    'subscript', //下标
                    'removeformat', //清除格式
                    'time', //时间
                    'date', //日期
                    'fontfamily', //字体
                    'fontsize', //字号
                    'simpleupload', //单图上传
                    'insertimage', //多图上传
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'imagecenter', //居中
                    'lineheight', //行间距
                ]
            ],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });
        ue.ready(function(){
            ue.execCommand('lineheight', 2); //行间距
            ue.execCommand('fontsize', '18px'); //字号
        });

        $("#newsForm").submit(function() {
            $.ajax({
                url: "{:\\think\\Url::build('Section/add')}",
                data: $(this).serialize(),
                dataType: "json",
                type: "post",
                success: function(data){
                    if (data.code === 1) {
                        layer.msg(data.msg, {icon: 1, time: 1500});
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                        window.location.href = data.url;
                    } else {
                        layer.msg(data.msg, {icon: 2, shift: 6});
                    }
                }
            });
            return false;
        });
    });

    function showWaiting(){
        var node=document.createElement("div");  //创建一个div元素节点，作为整个背景的容器
        var nodeClass=document.createAttribute("class"); //创建class元素属性
        var nodeStyle = document.createAttribute("style"); //创建style元素属性
        var nodeName = document.createAttribute("name"); //创建name元素属性
        nodeName.value = "divWaiting"; //给元素节点命名
        nodeClass.value = "div-waiting"; //元素属性赋值
        nodeStyle.value = "height:"+window.innerHeight + "px; width:"+window.innerWidth+"px;";
        node.setAttributeNode(nodeClass); //设置元素节点的属性及值
        node.setAttributeNode(nodeStyle);
        node.setAttributeNode(nodeName);
        var iconNode = document.createElement("div");  //创建一个div元素节点，作为旋转图标的容器
        var iconClass = document.createAttribute("class");
        iconClass.value = "icon-waiting";
        //iconClass.value = "fa fa-spinner fa-pulse icon-position";
        iconNode.setAttributeNode(iconClass);
        node.appendChild(iconNode);  //将图标节点放到整个背景的元素节点
        document.body.appendChild(node); //将整个背景div插入到body中
    }

    function closeWaiting() {
        var wait = document.getElementsByName("divWaiting"); //获取name为divWaiting的元素节点
        console.log(wait);
        //遍历所有的节点，将body中的所有等待旋转效果去掉
        for (var i = wait.length - 1; i >= 0; i--) {
            document.body.removeChild(wait[i]);
        }
    }


    $('.back').click(function(){
        window.location.href="/index/section/sectionList/id/" + $('#c_id').val();
    });
    function uploadAudio(obj) {
        showWaiting();
        $.ajaxfileupload({
            url : "/index/upload/uploadAudio",
            secureuri : false,// 一般设置为false
            fileElementId : "audio",// 文件上传表单的id <input type="file" id="fileUpload" name="file" />
            dataType : 'json',// 返回值类型 一般设置为json
            data: {},
            success : function(data){  // 服务器成功响应处理函数
                console.log(data);
                if(data.code == 0){
                    closeWaiting();
                    $('#yaudiourl').text(data.data);
                    $('#audiourl').val(data.data);
                    layer.msg(data.msg, {icon: 1, time: 1500});
                }
            }
        });
        return false;
    }

</script>
</body>
</html>
