<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{$current_menu.name|default=''}</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="/static/hplus/img/favicon.png">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">


</head>

<body class="fixed-sidebar full-height-layout gray-bg">
 <div>
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1" style="overflow: auto;">
        <div class="wrapper wrapper-content animated fadeInRight">
            <style>
                .table th, .table td {
                    text-align: center;
                }
                #page-wrapper {
                    padding: 0 15px;
                    position: inherit;
                    margin: 0 0 0 60px;
                }

            </style>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>文章管理</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row row-lg">
                        <div class="col-sm-12  col-md-12">
                            <div class="example-wrap">
                                <div class="example">

                                    <form role="form" class="form-inline">
                                        <button type="button" class="btn btn-danger" onclick="del()"> &nbsp;&nbsp;批量删除</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" class="btn btn-success" onclick="piPass()"> &nbsp;&nbsp;批量驳回</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="form-group">
                                            <label>文章名称</label>
                                            <input type="text" name="title" placeholder="请输入文章名称" class="form-control" value="">
                                        </div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="form-group">
                                            <label>上架/下架</label>
                                            <select class="form-control" id="status" name="status">
                                                <option value="" >-全部-</option>
                                                <option value="0">下架</option>
                                                <option value="1">上架</option>
                                            </select>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="form-group">
                                            <label>是否审核</label>
                                            <select class="form-control" id="is_check" name="is_check">
                                                <option value="" >-全部-</option>
                                                <option value="0">未审核</option>
                                                <option value="1">已审核</option>
                                            </select>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="form-group">
                                            <button type="button" class="btn btn-outline btn-primary" onclick="search()" style="margin-bottom: 0">
                                                <i class="fa fa-search" aria-hidden="true"></i>&nbsp;搜索
                                            </button>
                                        </div>
                                    </form>

                                    <table id="bootstrapTable" data-click-to-select="true">
                                        <thead>
                                            <tr>
                                               <th data-checkbox="true"></th>
                                                <th data-field="id" data-sortable="true" >序号</th>
                                                <th data-field="imgurl"data-formatter="formatImg" >图片</th>
                                                <th data-field="title" data-sortable="true" >文章标题</th>
                                                <th data-field="teacher_name" data-sortable="true" >发布者</th>
                                                <th data-field="readnum" data-sortable="true" >阅读量</th>
                                                <th data-field="like_num" data-sortable="true"  >点赞量</th>
                                                <th data-field="likeauth_num" data-sortable="true"  >赞赏作者数量</th>
                                                <th data-field="collection_num" data-sortable="true" >收藏数量</th>
                                                <th data-field="collection_num" data-sortable="true" >评论量</th>
                                                <th data-field="status" data-formatter="formatStatus" >上/下架</th>
                                                <th data-field="is_check" data-formatter="formatCheck">是否审核</th>
                                                <th data-field="addtime" data-sortable="true"   data-formatter="formatTime">添加时间</th>
                                                <th data-field="check_time" data-sortable="true"   data-formatter="formatTime">审核时间</th>
                                                <th data-field="" data-formatter="formatOperation" >操作</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
    <!--右侧部分结束-->

 <div class="modal inmodal fade" tabindex="-1" role="dialog"  aria-hidden="true" id="edit">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
                 </button>
                 <h4 class="modal-title">驳回原因</h4>
             </div>
             <form class="form-horizontal" id="editForm">
                 <div class="modal-body">
                     <input type="hidden" name="id" value=""  id="id">
                     <div class="form-group">
                         <label class="col-sm-2 control-label">原因</label>
                         <div class="col-sm-10">
                             <textarea type="text" name="refuse" cols="30"  rows="10" class="form-control" id="refuse"></textarea>
                         </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button type="reset" class="btn btn-white" data-dismiss="modal">关闭</button>
                     <button type="submit" class="btn btn-primary">提交</button>
                 </div>
             </form>
         </div>
     </div>
 </div>

<script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/hplus/js/plugins/layer/layer.js"></script>
<script src="/static/hplus/js/hplus.min.js?v=4.1.0"></script>
<script src="/static/hplus/js/contabs.min.js"></script>
<script src="/static/hplus/js/plugins/pace/pace.min.js"></script>
<script src="/static/hplus/js/content.min.js"></script>

<script src="/static/hplus/js/plugins/toastr/toastr.min.js"></script>
<script src="/static/hplus/js/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/static/hplus/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/static/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/hplus/js/common.js"></script>

<script src="/static/hplus/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/hplus/js/plugins/datapicker/bootstrap-datepicker.js"></script>
 <link href="/static/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
 <script src="/static/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>



<script>

    $(function () {
        $("#bootstrapTable").bootstrapTable({
                url: "{:\\think\\Url::build('knowledge/article')}",
                idField: 'id',
                search: false,
                cache: false,       //是否使用缓存
                sortStable: true,
                sortOrder: 'desc',
                striped: true,      //是否显示行间隔色
                pagination: true,
                detailView: true,       //开启详细视图功能
                detailFormatter: 'detailFormat',
                sidePagination: 'server',
                pageNumber: 1,
                pageSize: 10,
                pageList: '[10, 30, 100]',
                showRefresh: true,
                showToggle: false,
                showColumns: true,
                iconSize: "outline",
                toolbar: "#bootstrapTableToolbar"
            });
    });

    //格式化图片
    function formatImg(value, row) {
        var html = '<img src="' + value + '" style="height: 50px;">';
        return html;
    }

     function detailFormat(index, row) {
        var html = '';
        html += '<div class="col-sm-6">'+row.content+'</div>';
        return html;
     }

     function formatStatus(value) {
        if(value == 0) {
            return '下架'
        }else{
            return '上架'
        }
     }

    $("#editForm").submit(function () {
        var id = $('#id').val();
        var refuse = $('#refuse').val()
        $.ajax({
            url: "{:\\think\\Url::build('knowledge/check')}",
            type: "post",
            data: {id: id,status:0,type:"nopass",'refuse':refuse},
            dataType: "json",
            success: function (data) {
                if (data.code === 1) {
                    swal(data.msg, "操作成功", "success");
                    $("#edit").modal('hide');
                    $('#refuse').val('')
                    $("#bootstrapTable").bootstrapTable('refresh');
                } else {
                    swal(data.msg,"操作失败","error")
                }
            },
            error: function (e) {
                swal(data.msg,"操作失败","error")

            }
        });
        return false;
    });

     function formatCheck(value) {
        if(value == 0) {
            return '未审核'
        }else if(value == 1){
            return '已审核'
        }else{
            return '已驳回'
        }
     }

    function add(){
        parent.layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            shade: [0],
            area: ['400px', '255px'],
            offset: 'rb', //右下角弹出
            time: 50, //2秒后自动关闭
            shift: 2,
            content: ["/index/knowledge/add" , 'yes'], //iframe的url，no代表不显示滚动条
            end: function(){ //此处用于演示
                parent.layer.open({
                    type: 2,
                    title: '新增',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['1150px', '650px'],
                    content: "/index/knowledge/add",
                    end:function() {
                        location.reload();
                    }
                });
            }
        });
    }


    function formatType(value, row, index) {
        var text = '';
        if(value==1) {
            text += '<span >进行中</span>';
        }else if(value==0){
            text += '<span style="">下线</span>';
        }
        return text;
    }


    function search() {
        var title = $("input[name='title']").val();
        var is_check = $('#is_check').val();
        var status = $('#status').val();
        $('#bootstrapTable').bootstrapTable("refreshOptions",{
            queryParams:function(params){
                var data = {title: title, is_check:is_check,status:status};
                var query = $.extend( true, params, data);
                return query;
            }
        });
    }


    //格式化操作
    function formatOperation(value, row) {
        var html = '<div class="btn-group">';
        // if(row.status == 0) {
        //     html += '<button type="button" class="btn btn-white" onclick="check(' + row.id + ',1,1)"><i class="fa fa-warning" aria-hidden="true"></i>  上架</button>';
        // }else{
        //     html += '<button type="button" class="btn btn-white" onclick="check(' + row.id + ',0,2)"><i class="fa fa-warning" aria-hidden="true"></i>  下架</button>';
        // }
        if(row.is_check == 0) {
            html += '<button type="button" class="btn btn-primary" onclick="check(' + row.id + ',1,3)"><i class="fa fa-warning" aria-hidden="true"></i>  通过</button>';
            html += '<button type="button" class="btn btn-primary" onclick="refuse(' + row.id + ')"><i class="fa fa-warning" aria-hidden="true"></i>  驳回</button>';
        }
        html += '<button type="button" class="btn btn-warning" onclick="delThis(' + row.id + ')"><i class="fa fa-warning" aria-hidden="true"></i>  删除</button>';
        html +=	'</div>';
        return html;
    }

    function refuse(id) {
        $('#id').val(id)
        $("#edit").modal();
    }

    function check(id,status,type) {
        if(type == 1) {
            var msg = '上架';
            var kind = 'up';
        }else if(type == 2) {
            var msg = '下架';
            var kind = 'down'
        }else if(type == 3) {
            var msg = '通过'
            var kind = 'pass'
        }else if(type ==4) {
            var msg = '驳回'
            var kind = 'nopass'
        }
        swal({
            title:"您确定要"+ msg +"这条信息吗",
            text:"请谨慎操作！",
            type:"warning",
            showCancelButton:true,
            confirmButtonColor:"#DD6B55",
            confirmButtonText:"是的，我要"+ msg +"！",
            cancelButtonText:"让我再考虑一下…",
            closeOnConfirm:false,closeOnCancel:false
        },function(isConfirm){
            if(isConfirm){
                $.ajax({
                    url: "{:\\think\\Url::build('knowledge/check')}",
                    data: {id: id,status:status,type:kind},
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 1) {
                            swal(data.msg, "您已经"+ msg +"这篇文章。", "success");
                            $("#bootstrapTable").bootstrapTable('refresh');
                        } else {
                            swal("错误",data.msg,"error")
                        }
                    },
                    error: function(e) {
                        swal("操作错误","服务器错误，请重试！","error")
                    }
                });
            }else{
                swal("已取消","您取消了" + msg + "操作！","error")
            }
        })
    }

    function delThis(id) {
        swal({
            title:"您确定要删除这条信息吗",
            text:"删除后将无法恢复，请谨慎操作！",
            type:"warning",
            showCancelButton:true,
            confirmButtonColor:"#DD6B55",
            confirmButtonText:"是的，我要删除！",
            cancelButtonText:"让我再考虑一下…",
            closeOnConfirm:false,closeOnCancel:false
        },function(isConfirm){
            if(isConfirm){
                $.ajax({
                    url: "{:\\think\\Url::build('knowledge/del')}",
                    data: {id: id},
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 1) {
                            swal(data.msg, "您已经永久删除了这条信息。", "success");
                            $("#bootstrapTable").bootstrapTable('refresh');
                        } else {
                            swal("错误",data.msg,"error")
                        }
                    },
                    error: function(e) {
                        swal("操作错误","服务器错误，请重试！","error")
                    }
                });
            }else{
                swal("已取消","您取消了删除操作！","error")
            }
        })
    }

    function del() {
        var rows = $("#bootstrapTable").bootstrapTable('getAllSelections');
        if (rows.length < 1) {
            swal("提示","请至少选择一项！","error");
            return;
        }
        swal({
            title:"您确定要删除选中的文章吗",
            text:"删除后将无法恢复，请谨慎操作！",
            type:"warning",
            showCancelButton:true,
            confirmButtonColor:"#DD6B55",
            confirmButtonText:"是的，我要删除！",
            cancelButtonText:"让我再考虑一下…",
            closeOnConfirm:false,closeOnCancel:false
        },function(isConfirm){
            if(isConfirm){
                var ids = [];
                for (var i = 0; i < rows.length; i++) {
                    ids[i] = rows[i].id;
                }
                $.ajax({
                    url: "{:\\think\\Url::build('knowledge/piOpt')}",
                    data: {ids: ids,type:'delete'},
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 1) {
                            swal(data.msg, "您已经永久删除了这些文章。", "success");
                            $("#bootstrapTable").bootstrapTable('refresh');
                        } else {
                            swal("错误",data.msg,"error")
                        }
                    },
                    error: function(e) {
                        swal("操作错误","服务器错误，请重试！","error")
                    }
                });
            }else{
                swal("已取消","您取消了删除操作！","error")
            }
        })
    }


    function piPass() {
        var rows = $("#bootstrapTable").bootstrapTable('getAllSelections');
        if (rows.length < 1) {
            swal("提示","请至少选择一项！","error");
            return;
        }
        swal({
            title:"您确定要审核选中的文章吗",
            text:"请谨慎操作！",
            type:"warning",
            showCancelButton:true,
            confirmButtonColor:"#DD6B55",
            confirmButtonText:"是的，可以通过！",
            cancelButtonText:"让我再考虑一下…",
            closeOnConfirm:false,closeOnCancel:false
        },function(isConfirm){
            if(isConfirm){
                var ids = [];
                for (var i = 0; i < rows.length; i++) {
                    ids[i] = rows[i].id;
                }
                $.ajax({
                    url: "{:\\think\\Url::build('knowledge/piOpt')}",
                    data: {ids: ids,type:'pass'},
                    dataType: "json",
                    success: function(data) {
                        if (data.code === 1) {
                            swal(data.msg, "您已经审核通过了选中的文章。", "success");
                            $("#bootstrapTable").bootstrapTable('refresh');
                        } else {
                            swal("错误",data.msg,"error")
                        }
                    },
                    error: function(e) {
                        swal("操作错误","服务器错误，请重试！","error")
                    }
                });
            }else{
                swal("已取消","您取消了删除操作！","error")
            }
        })
    }


</script>

</body>
</html>
