<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <script src="/static/wxapp/js/device_d.js"></script>
    <link rel="stylesheet" href="/static/wxapp/css/layout_d.css" />
    <style>
      
    </style>
	</head>
	<body>
    <div class="tips flex align-center">
      <div>点击右上角按钮，然后在弹出的菜单中，点击在浏览器中打开，即可安装</div>
      <img src="/static/wxapp/img/top.png" class="tip-img"/> 
    </div>
    <div class="flex flex-column center main justify-between">
      <div class="flex flex-column center">
        <img src="/static/wxapp/img/logo.png" class="logo" />
        <p class="title first">学财商，来每日财学</p>
        <p class="title">专业的财商、财税、资本学习平台</p>
        <button class="download" id="download">下载App</button>
      </div>
      <img src="/static/wxapp/img/ch-icon.png" class="bottom-img" />
    </div>
		<script>
      document.querySelector('#download').onclick = function () {
        if (this.device.isWeixin) {
          document.querySelector('.tips').style.height = '100px'
        } else {
          if (this.device.isIOS) {
            	//alert('敬请期待')
            //location.href = "{$down['iosdown']}"
            location.href = 'https://app.dierna.com/emAV'
          } else {
            	
           location.href = "{$down['andown']}"
          }
        }
      }.bind(window)
    </script>
	</body>
</html>
