<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>权限列表</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="__STATIC__/img/favicon.png">
    <link href="__STATIC__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__STATIC__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__STATIC__/css/animate.min.css" rel="stylesheet">
    <link href="__STATIC__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="__STATIC__/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="__STATIC__/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <style>
           .description  img{
                width:100% !important;
           }
    </style>
</head>

<body class="fixed-sidebar full-height-layout gray-bg">
    <div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{$current_menu.name}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="example-wrap">
                            <div class="example">
                                <div class="btn-group hidden-xs" id="bootstrapTableToolbar" role="group">
                                     <button type="button" class="btn btn-outline btn-default" onclick="add()">
                                         添加权限
                                     </button>
                                </div>
                                <table id="bootstrapTable" data-click-to-select="true">
                                    <thead>
                                    <tr>
                                        <th data-checkbox="true"></th>
                                        <th data-field="id">序号</th>
                                        <th data-field="controller_name" >模块</th>
                                        <th data-field="action_name" >操作</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="text"  id="uid"  value="{$uid}"/>
<script src="__STATIC__/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__STATIC__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__STATIC__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/js/plugins/layer/layer.js"></script>
<script src="__STATIC__/js/hplus.min.js?v=4.1.0"></script>
<script src="__STATIC__/js/contabs.min.js"></script>
<script src="__STATIC__/js/plugins/pace/pace.min.js"></script>
<script src="__STATIC__/js/content.min.js"></script>
<script src="__STATIC__/js/plugins/toastr/toastr.min.js"></script>
<script src="__STATIC__/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__STATIC__/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__STATIC__/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script>

 $(function () {
       $("#bootstrapTable").bootstrapTable({
           url: "/index/power/getpower/uid/" + $('#uid').val(),
           idField: 'id',
           search: false,
           cache: false,       //是否使用缓存
           sortStable: true,
           sortOrder: 'desc',
           striped: true,      //是否显示行间隔色
           pagination: true,
           detailView: false,       //开启详细视图功能
           detailFormatter: 'detailFormat',
           sidePagination: 'server',
           pageNumber: 1,
           pageSize: 10,
           pageList: '[10, 30, 100]',
           showRefresh: true,
           showToggle: false,
           showColumns: true,
           iconSize: "outline",
           toolbar: "#bootstrapTableToolbar"
       });
    });


    function add(){
       window.location.href="/index/power/getPowerList";
    }

   function formatImage(value, row, index) {
       return '<a><img src="https://cloudant-1256594151.cos.ap-shanghai.myqcloud.com' + value + '" width="150px"/></a>';
   }

    function edit(id) {
        window.location.href = "{:\\think\\Url::build('news/edit')}?id=" + id;
    }

    function del() {
        var rows = $("#bootstrapTable").bootstrapTable('getAllSelections');
        if (rows.length < 1) {
            layer.msg('请至少选择一项！', {icon: 2, shift: 6});
            return;
        }
        layer.confirm('确定要删除选中的项吗？', {
            icon: 3
        }, function(){
            var ids = [];
            for (var i = 0; i < rows.length; i++) {
                ids[i] = rows[i].id;

            }
            $.ajax({
                url: "{:\\think\\Url::build('news/del')}",
                data: {id: ids},
                dataType: "json",
                type: "post",
                success: function(data) {
                    if (data.code === 1) {
                        layer.msg(data.msg, {icon: 1, time: 1500});
                        $("#bootstrapTable").bootstrapTable('refresh');
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                },
                error: function(e) {
                    layer.msg('服务器错误，请重试', {icon: 2});
                }
            });
        });
    }

        function formatOperation(value, row) {
            var html = '<div class="btn-group">';
            html += '<button type="button" class="btn btn-xs btn-outline btn-primary" onclick="edit(' + row.id + ')"><i class="fa fa-edit" aria-hidden="true"></i>  编辑</button>';
            return html;
        }
</script>
</body>
</html>