<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>課程列表</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1809818_d4hvspbut2h.css" />
    <link rel="stylesheet" href="/static/wxapp/css/alayout.css" />
    <link rel="stylesheet" href="/static/wxapp/css/play-list.css" />
    <script src="/static/wxapp/js/flexible.js"></script>
  </head>
  <body onclick="register()">
    <section class="">
      <div class="app-box">
        <div class="open-app flex justify-between align-center">
          <div class="flex align-center">
            <img class="logo" src="https://mrcx.caixue.co/Uploads/20200721/833966c32f04360ac7bf529b7f16f93a.png" />
            <div class="font-28">学财商上财学 边学边赚</div>
          </div>
          <button class="open-btn font-26">立即打开</button>
        </div>
      </div>
      <div class="header-box flex align-center">
        <div class="flex margin-left-20" >
          <img class="user-header" id="img1" style ="background-image: url(<?php echo $courseInfo['teacher_img'];?>)" alt="" src="<?php echo $courseInfo['teacher_img'];?>" />
          <div class="info flex justify-between flex-column margin-left-20">
            <div>
              <div class="text-white font-32"><?php echo $courseInfo['name'];?></div>
              <div class="text-white font-26 margin-top-10"><?php echo $courseInfo['teacher_name'];?></div>
            </div>
            <div class="font-22 text-white padding-bottom-10"><?php echo $courseInfo['people_num'];?>人加入学习</div>
          </div>
        </div>
      </div>
      <div class="padding-30 flex justify-between bg-white">
        <div class="flex align-center">
          <div class="text-gray">共<?php echo $courseInfo['chapter_count'];?>讲 学习奖励：</div>
          <div class="text-orange"><?php echo $courseInfo['reward'];?>学分</div>
        </div>
        <div class="flex align-center">
          <i class="iconfont iconbofang1 font-32 text-black"></i>
          <div class="text-black">播放全部</div>
        </div>
      </div>
      <ul class="list-box bg-white">
        
        <?php 
        if(!empty($list)){
        
        
        foreach($list as $lval){ ?>
        
        <li class="list-item flex justify-between align-center padding-30 br-t">
          <div>
            <div class="font-28"><?php echo $lval['name']?></div>
            <div class="flex align-center font-22 text-gray margin-top-20">
              <div><?php echo $lval['audiotime']?>&nbsp;&nbsp;</div>
              <div><?php echo $lval['people_num'];?>人学过</div>
            </div>
          </div>
          <div class="flex center">
            <i class="iconfont iconbofang font-weight-bold text-grey"></i>
            <div class="font-22 margin-left-10">播放</div>
          </div>
        </li>
        <?php }}?>
        
        
      </ul>
      <div class="footer text-grey flex center font-22">与<?php echo $courseInfo['people_num'];?>人共同学习</div>
    </section>
    <script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/wxapp/js/device.js"></script>
    <script src="/static/wxapp/js/main.js"></script>
    <script>
        
        function register(){
           var url =  "<?php echo $url?>";
           window.location.href = url;
        }
    </script>
  </body>
</html>
