<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>課程</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1809818_qng23yyc5o.css" />
    <link rel="stylesheet" href="/static/wxapp/css/alayout.css" />
    <link rel="stylesheet" href="/static/wxapp/css/index.css" />
    <script src="/static/wxapp/js/flexible.js"></script>

  </head>
  <body onclick="register()">
    <section class="">
      <div class="app-box">
        <div class="open-app flex justify-between align-center">
          <div class="flex align-center">
            <img class="logo" src="https://mrcx.caixue.co/Uploads/20200721/833966c32f04360ac7bf529b7f16f93a.png" />
            <div class="font-28">学财商上财学 边学边赚</div>
          </div>
          <button class="open-btn font-26">立即打开</button>
        </div>
      </div>
      <div class="header-box flex flex-column justify-end padding-30 padding-left-40" style ="background-image: url(<?php echo $data['courseData']['imgurl'];?>);background-size: cover; -moz-background-size: cover;">
        
        <div class="font-40 text-white text-line-height-1-5"><?php echo $data['teacherData']['name']?> ⋅<?php echo $data['courseData']['name']?></div>
        <div class="font-26 text-white"><?php echo $data['courseData']['abstract']?></div>
      </div>
      <div class="info-box flex padding-30">
        <div class="flex flex-column center flex1 br-r">
          <div class="flex align-baseline">
            <div class="font-36 text-black"><?php echo $data['courseData']['haschapter_num']?>/<?php echo $data['courseData']['chapter_count']?></div>
            <div class="text-grey font-22 padding-left-10">讲</div>
          </div>
          <div class="font-18 text-grey text-line-height-1-5">更新／总讲数</div>
        </div>
        <div class="flex flex-column center flex1">
          <div class="flex align-baseline">
            <div class="font-36 text-black"><?php echo $data['courseData']['people_num']?></div>
            <div class="text-grey font-22 padding-left-10">人</div>
          </div>
          <div class="font-18 text-grey text-line-height-1-5">加入学习</div>
        </div>
      </div>
      <div class="padding-30">
        <div class="padding-30 bg-gray radius-10 user-box">
          <div class="flex justify-between align-center">
            <div class="flex align-center">
              <img class="user-header" src="<?php echo $data['teacherData']['imgurl']?>" />
              <div class="font-28 text-black margin-left-10"><?php echo $data['teacherData']['name']?></div>
            </div>
            <i class="iconfont icongengduo"></i>
          </div>
          <div class="font-24 text-grey text-line-height-1-5 margin-top-20"><?php echo $data['teacherData']['introduction']?></div>
        </div>
      </div>
      <div class="title font-34 font-weight-500 padding-30 padding-top-0">课程亮点</div>
      <div class="padding-30 padding-top-0 font-26 text-grey padding-bottom-40 text-line-height-1-5"><?php echo $data['courseData']['course_bright']?>
        
      </div>
      <div class="title font-34 br-t font-weight-500 padding-30">课程大纲</div>
      <div class="padding-30 padding-top-0">
        <ul class="list-box radius-10">
        <?php 
        if(!empty($data['courseData']['sectionList'])){
            foreach($data['courseData']['sectionList'] as $sval){ ?>
        <li class="list-item flex align-center font-26 padding-left-20"><?php echo $sval['name']?></li>
        <?php }}?>        
          <li class="list-item flex align-center font-26 padding-left-20">1、梦想与财富</li>
          <li class="list-item flex align-center font-26 padding-left-20">2、什么是财富？</li>
          <li class="list-item flex align-center font-26 padding-left-20">3、什么是财富自由？你理想的生活是什么？</li>
          <li class="list-item flex align-center font-26 padding-left-20">4、你到底想要什么？</li>
          <li class="list-item flex align-center font-26 padding-left-20">5、你不知道你有多么的富有</li>
          <li class="list-item flex align-center font-26 padding-left-20">6、人生4个象限，你是在哪个象限？</li>
          <li class="list-item flex align-center font-26 padding-left-20">7、致富的科学</li>
          <li class="list-item flex align-center font-26 padding-left-20">8、你的工资够花吗？</li>
        </ul>
        <div class="flex center padding-40 padding-bottom-20">
          <button class="my-btn default text-orange font-32 font-weight-500" id="showmore">查看完整课程表</button>
        </div>
      </div>
      <div class="title font-34 br-t font-weight-500 padding-30">兑换须知</div>
      <div class="padding-30 padding-top-0 font-26 text-grey padding-bottom-40 text-line-height-1-5">
        <?php echo $data['exchangenote']?>
      </div>
      <div class="br-t padding-30">
        <button class="my-btn submit font-32">购买：<?php echo $data['courseData']['value']?></button>
      </div>
      
      <div  class="modal" id="modal">
        <div class="dialog flex flex-column" >
          <img class="model-img" src="<?php echo $data['courseData']['complete_course']?>" />
          <i class="iconfont iconguanbi text-white font-50 flex center margin-top-30"></i>
        </div>
      </div>
      
    </section>
    
    <script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
    <!--script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script-->
    <script src="/static/wxapp/js/device.js"></script>
    <script src="/static/wxapp/js/main.js"></script>
    <script>
      !function($) {
        $('#showmore').on('click', function() {
          $('#modal').addClass('show')
        });
        $('#modal').on('click', function() {
          $('#modal').removeClass('show')
        }); 
      }(jQuery);
      function register(){
           var url =  "<?php echo $url?>";
           window.location.href = url;
        }
    </script>
  </body>
</html>
