<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{$current_menu.name|default=''}</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="/static/hplus/img/favicon.png">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <style>
        .table th, .table td {
            text-align: center;
        }
        #page-wrapper {
            padding: 0 15px;
            position: inherit;
            margin: 0 0 0 60px;
        }

    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg">
<div >
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$current_menu.name}</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <form method="post" class="form-horizontal" id="newsForm">
                        <input type="hidden" name="id" value="{present name='id'}{$id}{else /}0{/present}" name="id">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">金句标题:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="title" placeholder="请输入金句标题" required value="{present name='info'}{$info.title}{/present}">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容:</label>
                            <div class="col-sm-8">

                                <textarea type="text" class="form-control" rows="5" cols="10"  name="content" placeholder="请输入内容" >{present name='info'}{$info.content}{/present}</textarea>
                                <!--input type="text" class="form-control" name="content" placeholder="请输入内容" required value="{present name='info'}{$info.content}{/present}"-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型 :</label>
                            <div class="col-sm-8">
                                <select name="type" class="ftype form-control">
                                    <option value="0" {present name="info"}{eq name="$info.type" value="0"}selected{/eq}{/present}>请选择类型</option>
                                    <option value="1" {present name="info"}{eq name="$info.type" value="1"}selected{/eq}{/present}>理财</option>
                                    <option value="2" {present name="info"}{eq name="$info.type" value="2"}selected{/eq}{/present}>收入</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">贡献值:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="contribution_value" placeholder="请输入贡献值" required value="{present name='info'}{$info.contribution_value}{/present}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        {present name="info"}
                        {notempty name="info.imgurl"}
                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">原图</label>
                            <div class="col-sm-8">
                                <img src="{$info.imgurl}" width="150" id="nowcomplete_course"/>
                            </div>
                        </div>
                        {/notempty}
                        {/present}
                        <div class="form-group logo">
                            <label class="col-sm-2 control-label">主图</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control" name="logo" id="logo" data-index="0"  onchange ="uploadimgurl(this)"  accept="image/*">
                            </div>
                            <div class="col-sm-1"  style="color:red">
                                <span >建议尺寸:750*755</span>
                            </div>
                        </div>

                        <input type="hidden"  name="imgurl"   value="{present name='info'}{$info.imgurl}{/present}"  id="imgurlsrc"/>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">上下架:</label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" {eq name="info.is_shelves" value="0" }checked=""{/eq} value="0"  name="is_shelves">下架</label>
                                <label class="radio-inline">
                                    <input type="radio"  {eq name="info.is_shelves" value="1" }checked=""{/eq} value="1"  name="is_shelves">上架</label>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit" id="save">保存内容</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__UEDITOR__/ueditor.config.js?v=20161018"></script>
<script src="__UEDITOR__/ueditor.all.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__UEDITOR__/ueditor.config.js?v=20161018"></script>
<script src="__UEDITOR__/ueditor.all.js"></script>
<script src="/static/hplus/js/plugins/layer/layer.js"></script>
<script src="//imgcache.qq.com/open/qcloud/js/vod/sdk/ugcUploader.js"></script>
<script src = "https://qzonestyle.gtimg.cn/open/qcloud/video/h5/h5connect.js" charset = "utf-8" ></script>
<script>
$("input[type='file']").prettyFile();
    $("#newsForm").submit(function() {
        $('#save').attr('disabled',true)
        $.ajax({
            url: "{:\\think\\Url::build('dayarticle/adddayarticle')}",
            data: $(this).serialize(),
            dataType: "json",
            type: "post",
            success: function(data){
                if (data.code === 1) {
                    layer.msg(data.msg, {icon: 1, time: 1500});
                    //添加数据成功，关闭弹出窗之前，刷新列表页面的数据

                        //$("#bootstrapTable",window.parent.document).bootstrapTable('refresh');return

                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);

                } else {
                    layer.msg(data.msg, {icon: 2, shift: 6});
                }
            }
        });
        return false;
    });

    /**
     * 上传大图
     * @param obj
     * @returns {boolean}
     */
    function uploadimgurl(obj){

        $.ajaxfileupload({
            url : "/index/upload/uploadImg",
            secureuri : false,// 一般设置为false
            fileElementId : "logo",// 文件上传表单的id <input type="file" id="fileUpload" name="file" />
            dataType : 'json',// 返回值类型 一般设置为json
            data: {},
            success : function(data){  // 服务器成功响应处理函数
                console.log(data);
                if(data.code == 0){
                    $('#imgurlsrc').val(data.data)
                    $('#nowcomplete_course').attr('src',data.data)
                    layer.msg(data.msg, {icon: 1, time: 1500});
                }
            }
        });
        return false;
    }

</script>
</body>
</html>
