<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>老师列表</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="/static/hplus/img/favicon.png">
    <link href="/static/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/static/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/static/hplus/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg">

    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1" style="overflow: auto;">
        <div class="wrapper wrapper-content animated fadeInRight">
            <style>
                .table th, .table td {
                    text-align: center;
                }
                #page-wrapper {
                    padding: 0 15px;
                    position: inherit;
                    margin: 0 0 0 60px;
                }

            </style>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>海外审核认证</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row row-lg">
                        <div class="col-sm-12  col-md-12">
                            <div class="example-wrap">
                                <div class="example">
                                    <div class="btn-group hidden-xs" id="bootstrapTableToolbar">
                                        <form role="form" class="form-inline">
                                            <div class="form-group">
                                                <label>手机</label>
                                                <input type="text" name="keywords" placeholder="请输入信息" class="form-control" value=""  id="name">
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="form-group">
                                                <label>审核状态</label>
                                                <select class="form-control" id="status" name="status">
                                                    <option value="" >-全部-</option>
                                                    <option value="0">待审核</option>
                                                    <option value="1">审核通过</option>
                                                    <option value="2">拒绝通过</option>

                                                </select>
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="form-group">
                                                <button type="button" class="btn btn-outline btn-primary" onclick="search()" style="margin-bottom: 0">
                                                    <i class="fa fa-search" aria-hidden="true"></i>&nbsp;搜索
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <table id="bootstrapTable" data-click-to-select="true">
                                        <thead>
                                        <tr>
                                           <th data-checkbox="true"></th>
                                            <th data-field="id" data-sortable="true" class="col-sm-1">ID</th>
                                            <th data-field="user" data-sortable="true" class="col-sm-1">用户名</th>
                                            <th data-field="headimg" data-formatter="formatImage" align="center"  >头像</th>
                                            <th data-field="status_name" data-sortable="true" class="col-sm-1"  >头像</th>
                                            <th data-field="real_name" data-sortable="true" class="col-sm-1">姓名</th>
                                            <th data-field="card_number" data-sortable="true" class="col-sm-1">证件号</th>
                                            <th data-field="imgurls" data-sortable="true" data-formatter="detailFormat" >反馈图片</th>
                                            <th data-field="note" data-sortable="true" class="col-sm-1">备注(拒绝原因)</th>
                                            <th data-field="add_time_time" data-sortable="true" class="col-sm-1">添加时间</th>
                                            <th data-field="" data-formatter="formatOperation" >操作</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--右侧部分结束-->
    <script src="/static/web/js/laydate.js"></script>
    <script src="__STATIC__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__STATIC__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
    <script src="__STATIC__/js/ajaxfileupload.js"></script>
    <script src="__UEDITOR__/ueditor.config.js?v=20161018"></script>
    <script src="__UEDITOR__/ueditor.all.js"></script>
    <script src="__STATIC__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__STATIC__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__STATIC__/js/plugins/layer/layer.js"></script>
    <script src="__STATIC__/js/hplus.min.js?v=4.1.0"></script>
    <script src="__STATIC__/js/contabs.min.js"></script>
    <script src="__STATIC__/js/plugins/pace/pace.min.js"></script>
    <script src="__STATIC__/js/content.min.js"></script>
    <script src="__STATIC__/js/plugins/toastr/toastr.min.js"></script>
    <script src="__STATIC__/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="__STATIC__/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__STATIC__/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="__STATIC__/js/common.js"></script>
    <script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
    <link href="/static/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="/static/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/static/hplus/js/plugins/sweetalert/xlsx.core.min.js"></script>
    <script src="https://cdn.bootcss.com/xlsx/0.11.9/xlsx.core.min.js"></script>
    <script>

    $(function () {
        $("#bootstrapTable").bootstrapTable({
            url: "{:\\think\\Url::build('user/overlog')}",
            idField: 'id',
            search: false,
            cache: false,       //是否使用缓存
            sortStable: true,
            sortOrder: 'desc',
            striped: true,      //是否显示行间隔色
            pagination: true,
            detailView: false,       //开启详细视图功能
            detailFormatter: 'detailFormat',
            sidePagination: 'server',
            pageNumber: 1,
            pageSize: 10,
            pageList: '[10, 30, 100]',
            showRefresh: true,
            showToggle: false,
            showColumns: true,
            iconSize: "outline",
            toolbar: "#bootstrapTableToolbar"

        });
    });
    function formatImage(value, row, index) {
        return '<a><img src="' + value + '" height="50px"/></a>';
    }
    function search() {
        var status = $('#status').val();
        var keywords = $('#name').val();
        $('#bootstrapTable').bootstrapTable("refreshOptions",{
            queryParams:function(params){
                var data = {keywords: keywords, status:status};
                var query = $.extend( true, params, data);
                return query;
            }
        });
    }
    laydate.render({
      elem: '#scoretime'
      ,type: 'datetime'
      ,range: false
    });
     function formatStatus(value, row, index) {
        var text = '';
        if(value==0) {
            text += '<span >待审核</span>';
        }else if(value == 1){
            text += '<span style="">审核通过</span>';
        }else if(value == 2){
            text += '<span style="">审核驳回</span>';
        }
        return text;
    }
    function detailFormat(index, row) {
        var html = '';
        html += '<div class="col-sm-6">';
        var imgs = row.imgurls
        if(imgs != ''){
            var images= imgs.split(',');//注split可以用字符或字符串分割
            var imglens = images.length;
            for(var j = 0;j < imglens; j ++){
                html += '<a class="fancybox" href="'+ images[j] +'" title="图片16"><img alt="image" style="height:100px;float:left" src="'+ images[j] +'" /> </a>';
            }
        }
        html += '<div class="col-sm-6"></div>';
        html += '</div>';
        return html;
    }
    //格式化操作
    function formatOperation(value, row) {
        var html = '<div class="btn-group">';

        html += '<button type="button" class="btn  btn-white" onclick="cashcheck(' + row.id + ')" >审核</button>';

        html +=	'</div>';
        return html;
    }
     function refuse(id) {
        $('#id').val(id)
        $("#edit").modal();
    }

    function formatMax(value) {
        if(value == '' || value == '0.0') {
            return '无上限'
        }else{
            return value;
        }
    }
    function cashcheck(id) {
        parent.layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            shade: [0],
            area: ['400px', '255px'],
            offset: 'rb', //右下角弹出
            time: 50, //2秒后自动关闭
            shift: 2,
            content: ['/index/wallet/overlogcheck/id/' + id, 'yes'], //iframe的url，no代表不显示滚动条
            end: function(){ //此处用于演示
                parent.layer.open({
                    type: 2,
                    title: '新增',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['1150px', '650px'],
                    content: '/index/wallet/overlogcheck/id/' + id,
                    end:function() {
                        location.reload();
                    }
                });
            }
        });
    }


    function check(id,wallettype) {
            window.location.href = "/index/wallet/overlogcheck/id/" + id;
    }

</script>

</body>
</html>
